/* Css Document Admin View */

.admin-wrapper {
    height: 100%;
    width: 100%;
    background-image: url("/img/admin.jpeg");
    background-size: cover;
}
.admin-container {
    width: 92%;
    margin: 0 auto;
    padding-top: 5%
}
.spacer {
    height: 15px;
    width: 100%;
}
.messages {
    padding: 5% 10% 5% 10%;
    text-align: center;
    width: 40%;
    min-width: 250px;
    margin: 0 auto;
    background-color: black;
    opacity: .8;
    border-radius: 10%;
    color: #FFFFFF;
}
.messages a {
    color: #FFFFFF;
    display: inline-block;
}

.messages a:hover {
    display: inline-block;
    color: red;
}

