/* Css Document Contact_index */

.contact-wrapper {
    height: 100%;
    width: 100%;
    background-image: none, url("/img/statuteofliberty.jpg"),url("/img/statuteofliberty.svg");
    background-size: cover;
    overflow: scroll;
}

.contact-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.contact-form {
    padding-top: 5%;
}

.contact-form-label {
    width: 15%;
    height: 100%;
    padding: 5px 0 5px 0;
    font: inherit;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: lighter;
    color: #FFFFFF;
}

.contact-field {
    width: 70%;
}

.contact-head {
    text-align: center;
    opacity: .6;
    color: #FFFFFF;
    padding: 5% 0 0 0 ;
    margin: 0;
}

.contact-form-input-small {
    width: 50%;
    min-width: 175px;
    border: none;
    padding: 10px 0 10px 10px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    opacity:.4;
    font-weight: lighter;
    background-color: #080808;
    color: #FFFFFF;
}


.contact-form-input-large {
    width: 90%;
    padding: 5px 0 5px 10px;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: lighter;
    background-color: #080808;
    opacity: .4;
    color: #FFFFFF;
}

.contact-submit {
    width: 40%;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: lighter;
    background-color: #080808;
    border: none;
    opacity: .4;
    color: #FFFFFF;
    margin-bottom: 1%;
}

.contact-submit:hover {
    font-weight: 400;
    background-color: #FFFFFF;
}

.contact-info {
    position: absolute;
    top: 50px;
    right: 50px;
}

.contact-info h6 {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    color: #FFFFFF;
}

@media screen and (max-width: 800px) {
    .contact-info h6 {
        font-size: 2rem;
    }
}

#contact-header {
    border-bottom: 1px solid #080808;
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
    opacity: .8;
}

@-moz-document url-prefix() {
    .moz-width{
        width:50%;
    }}

@media screen and (max-width: 505px) {
    .contact-container {
        width: 96%;
        margin: 0 auto;
        padding: 0;
        position: static;
    }
    .contact-info {
        position: relative;
        top: 0;
        right: 0;
        text-align: center;
    }
    .contact-field, .contact-form-input-small, .contact-info, .contact-submit, .contact-form-input-large  {
        width: 100%;
    }

    #contact-header {
        border: none;
    }

    @-moz-document url-prefix() {
        .moz-width{
            width:100%;
        }
    }


}
@-moz-document url-prefix() {
    .contact-form-input-large {
        color: #FFFFFF
    }
}
::-moz-placeholder {
    color: #080808;
    font-size: 1.4rem;
}
